<!DOCTYPE html>
<html lang="en">
<head>
    <form method = 'POST'>
    {%csrf_token%}
    {% load static %}
    <meta charset="UTF-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'makenote_app/css/eld.css' %}">
</head>

<style>
    body {
        background-image: url('{% static "images/note4.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
    }

    

</style>
<h1> CREATE PAGE</h1>
<body>
</body>
</html>